{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4"></div>
    <div class="contact-form py-5" id="contact">
      <div class="container py-lg-5 py-md-4">
        <h3 class="hny-title mb-lg-5 mb-4">Post Your Requirements</h3>
        <div class="contacts12-main mb-5">
          <form method='post' action='req-create'>
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" class="form-control" name='title' id="title" placeholder="Enter Title" required />
              </div>
              <div class="form-group col-md-6">
                <input type="text" class="form-control" name='description' id="description" placeholder="Enter Description" required />
              </div>
            </div>
          
            <div class="form-row">
              <div class="form-group col-md-6">
                <select id="gender" name='gender' class="form-control" required>
                  <option selected disabled>--Select Gender--</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <input type="text" class="form-control" name='city' id="city"
                  placeholder="Enter City" required />
              </div>
            </div>
          
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" class="form-control" name='area' id="area" placeholder="Your Area" required />
              </div>
              <div class="form-group col-md-6">
                <input type="text" class="form-control" name='times' id="times" placeholder="At Which Time You Want" required />
              </div>
            </div>
          
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" class="form-control" name='age' id="age"
                  placeholder="Enter Age" required />
              </div>
              <div class="form-group col-md-6">
                <select id="food" name='food' class="form-control" required>
                  <option selected disabled>--Select Food Type--</option>
                  <option>Veg</option>
                  <option>Non-Veg</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <input type="textarea" class="form-control" id="food_category" name='food_category'
                placeholder="Enter Food Description which Want" required />
            </div>
          
            <div class="text-center">
              <button class="btn btn-style btn-primary btn-contact">Post Now</button>
            </div>
          </form>
        </div>
        {% if messages %}
        {% for message in messages %}
        <div>
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
    
      </div>
    </div>
{% endblock content %}
  